.widget__day{
    width: 100%;
    justify-content: space-around;
    /* align-items: space-around; */
    border-top: 2px solid rgba(241,241,241,1);
}

.widget__day > * {
    flex-basis: calc(100% / 5);
    text-align: center;
}
.day__p--day{
    text-align: left;
    margin-left: 15px;
    font-weight: 500;


}
.day__img{
    flex-basis: auto;
    margin: auto;
}

